body {
    font-family: 'Poppins', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 15%;
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    padding: 20px;
}

.logo img {
    width: 140px;
    height: 60px;
    display: block;
    margin: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar ul li i {
    margin-right: 10px;
}

.sidebar .more {
    margin-top: 50px;
    font-size: 18px;
}

.sidebar .more p {
    display: flex;
    align-items: center;
}

.sidebar .more i {
    margin-right: 10px;
}

.content {
    width: 60%;
    padding: 20px;
}

.stories {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    width: 60px;
    height: 60px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.posts {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 20px;
    margin-bottom: 20px;
}

.post {
    margin-bottom: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.post-content img {
    width: 100%;
    margin: 20px 0;
}

.post-footer {
    margin-top: 10px;
    font-weight: 300;
}

.suggestions {
    width: 20%;
    padding: 20px;
}

.suggestions h3 {
    margin: 0 0 20px 0;
    font-weight: 600;
}

.suggestion {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}
